<head>
  <title>The Hangman Game</title>
</head>
<body>
  <h1>Welcome to The Hangman Game!</h1>
  <h5>Let's play Hangman!</h5>

  <%= link_to "Sign In", signin_path, class: "btn btn-outline-secondary" %>
  <%= link_to "Sign Up", signup_path, class: "btn btn-outline-secondary" %>
</body>